%h3.row About Bruce Cook Financial Services
%div.row
  %div{["col-xs-6", "col-md-4"]}
    about the business
  %div{class: ["col-xs-12", "col-sm-6", "col-md-8"]}
    business is fun
%div.row
  %div{["col-xs-6", "col-md-4"]}
    about bruce, der gründer
  %div{class: ["col-xs-12", "col-sm-6", "col-md-8"]}
    bruce is boss
%div.row
  %div{["col-xs-6", "col-md-4"]}
    about josh, der hammer
  %div{class: ["col-xs-12", "col-sm-6", "col-md-8"]}
    josh does all the work these days
