!!!
%html
  %head
    %title BCFS
    %link(rel="stylesheet" href="/css/bootstrap.css")
  %body.container
    #wrapper
      #header
        %h2.row Bruce Cook Financial Services
        %h4.row A money tomorrow
      #div.row
        %ul{class: ["nav", "nav-tabs"], role: "tablist"}
          %a(href="/")
            %li Home
          %a(href="about")
            %li About
          %a(href="contact_us")
            %li Contact
          %a(href="read_more")
            %li Read More

      #content
        =yield

      / #side_bar
      /   %h1 Side Bar
      /   %p
      /     This is the side bar of the webpage

      / #footer
      /   %p
      /     This is the footer.
