!!!
%html
  %head
    %title BCFS
    / %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    / %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Bruce Cook Financial Services
        %h4 A money tomorrow

      #content
        =yield

      / #side_bar
      /   %h1 Side Bar
      /   %p
      /     This is the side bar of the webpage

      / #footer
      /   %p
      /     This is the footer.
